.image_grille {
    width: 4.2%;
}
.congrats{
    font-size:30px;
}

#grille {
    text-align: center;
    padding-bottom: 13%;
}

.message_guess{
        margin-block-start: 0em;
        margin-block-end: 0em;
}

.image_grille {
    width: 2.2%;
    height: auto;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin: 1px;
}

.input_answer {
    max-width: 100%!important;
    padding: 3% 15% 0 15%!important;
}

.wrap_grille{
    background-color: black;
}

.bot_pres{
    padding-bottom : 1.5%;
}
.presentation_text {
    padding-top: 8%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 21px;
}

#first{
    margin-block-start: 0em;
}

.end_presentation{
    color: #96307d;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.form_infos {
    margin: 0% 0% 0% 0%!important;
}

.bottom-page{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.input_infos {
    max-width: 100%!important;
    padding: 0% 20% 0 20%!important;
}

.question{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.form_answer{
    line-height: 2;
}

.submit_button_guess{
    line-height: 1.25;
}


@media screen and (max-width: 500px){
    .message {
        position: absolute!important;
        top: 19%;
        left: 0!important;
        width: 100%!important;
        font-size: 1.8vw;
        display: inline-block;
        text-align: center;
        border-radius: 0!important;
        background: rgb(158,158,158);
        margin-block-start: 0!important;
        font-size: 50px!important;
        background: linear-gradient(90deg, rgba(158,158,158,1) 0%, rgba(235,235,235,1) 25%, rgba(235,235,235,1) 75%, rgba(158,158,158,1) 100%);
    }

    .presentation_text {
        padding-top: 40%;
        background-color: black;
        text-align: center;
        color: white;
        font-size: 21px;
    }

    .congrats {
        font-size: 45px;
        margin-block-start: 0;
    }

    .wrap_grille {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .infos_container {
        width: 100%!important;
        left: 0%!important;
        font-size: 3.5vw!important;
        border-radius: 0!important;
    }

    .form_infos {
        font-size: 1.7rem!important;
    }

    .submit_button {
        font-size: 1.8rem;
    }

    .image_grille{
        width: 6.5%;
    }

    .elancia {
        height: 90%!important;
    }

    .tadam {
        height: 90%!important;
    }

}

/*
@media screen and (max-width: 1678px) {
    .image_grille {
        width: 4.7%;
    }
}

@media screen and (max-width: 1079px) {
    .image_grille {
        width: 4.5%;
    }
}

@media screen and (max-width: 1679px) {
    .image_grille {
        width: 5.2%;
    }
}
*/

