#grille {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.image_grille {
    width: 4.5%;
    height: auto;
    border-style: solid;
    border-color: white;
}

@media screen and (max-width: 1678px) {
    .image_grille {
        width: 4.7%;
    }
}

@media screen and (max-width: 1079px) {
    .image_grille {
        width: 4.5%;
    }
}

@media screen and (max-width: 1679px) {
    .image_grille {
        width: 5.2%;
    }
}