.congrats{
    font-size:30px;
}

#grille {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.wrap_grille{
    background-color: black;
}

.image_grille {
    width: 4.5%;
    height: auto;
    border-style: solid;
    border-color: white;
}

.presentation_text {
    padding-top: 8%;
    background-color: black;
    text-align: center;
    color: white;
}

#first{
    margin-block-start: 0em;
}

.end_presentation{
    color: rgb(0 179 187);
    margin-block-end: 0em;
}
@media screen and (max-width: 1678px) {
    .image_grille {
        width: 4.7%;
    }
}

@media screen and (max-width: 1079px) {
    .image_grille {
        width: 4.5%;
    }
}

@media screen and (max-width: 1679px) {
    .image_grille {
        width: 5.2%;
    }
}